@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&family=Exo:ital@1&family=Inter:wght@200;300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.content-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}

.content-body .textbox {
  position: relative;
  max-width: 100%;
  padding-right: 50px;

}

.logo {
  height: 10%;
  width: 10%;
}

.icon {
  height: 110%;
  width: 110%;
}

.imgbox {
  flex-grow: 1;
  padding-right: 50px;
}

.Imgpag2 {
  display: block;
  margin: auto;
}
h2{
  color: #383584f1;
}
h1 {
  color: #383584f1;
  text-shadow: #333;
}

p {
  padding: 5px;
  margin-bottom: 15px;
}

header {
  background-color: #383584f1;
  box-shadow: 0px 3px 10px #322e7ef1;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
  margin: 0%;</div>
}

.logo {
  display: flex;
  align-items: center;

}

.logo h1 {
  color: #fff;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;
}

.anc1{

}

/* Login*/

.login-button button {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #6b63fff1;
}

.login-button button a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}


@media screen and (max-width: 730px) {
  .nav-bar {
    padding: 1.5rem 4rem;
  }

  .nav-item {
    display: none;
  }

  .login-button {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .mobile-menu .login-button {
    display: block;
    padding: 1rem 2rem;
  }

  .mobile-menu .login-button button {
    width: 100%;
  }

  .open {
    display: block;
  }
}